* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
/* size */
.navbar {
  background-color: rgb(209, 101, 155);
}

.nav-link {
  color: black !important;
  font-size: 15px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
/* size */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* colors */
/* size */
main {
  background-color: black;
  overflow-x: hidden;
}

.main-container {
  color: #fff;
  margin-top: 5rem;
}

.img-nails {
  width: 60%;
  height: 80%;
  outline: 5px solid rgb(209, 101, 155);
  outline-offset: 12px;
  grid-auto-flow: column;
}

.sub-title {
  color: rgb(209, 101, 155);
  font-size: 20px;
  font-weight: 600;
}

.title-main {
  color: #fff;
  font-weight: 300;
  padding-bottom: 10px;
  font-size: 50px;
}

/* otra prueba */
.row-nails {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  color: #fff;
}

.text-box {
  width: 80%;
}

.main-paragraph {
  font-size: 15px;
  width: 100%;
}

@media (max-width: 770px) {
  .sub-title {
    text-align: center;
  }
  .title-main {
    text-align: center;
  }
  .nails-description {
    padding: 15px;
    text-align: justify;
  }
}
.btn-book {
  background-color: rgb(209, 101, 155);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
}

.btn-book:hover {
  color: #fff;
  background-color: rgb(134, 65, 99);
}

/* fin otra prueba */
/* pruba */
ul {
  list-style: none;
}

.image-accordion {
  position: relative;
  width: 50%;
  height: 50vh;
  overflow: hidden;
}

.image-accordion ul {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}
.image-accordion ul li {
  width: 16.66%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  transition: all 500ms ease;
}

.image-accordion ul li:nth-child(1) {
  background: url(../../img/gallery.jpg) no-repeat center center;
  background-size: cover;
}

.image-accordion ul li:nth-child(2) {
  background: url(../../img/gallery2.jpg) no-repeat center center;
  background-size: cover;
}

.image-accordion ul li:nth-child(3) {
  background: url(../../img/gallery3.jpg) no-repeat center center;
  background-size: cover;
}

.image-accordion ul li:nth-child(4) {
  background: url(../../img/gallery4.jpg) no-repeat center center;
  background-size: cover;
}

.image-accordion ul:hover li,
.image-accordion ul:focus-within li {
  width: 8%;
}

.image-accordion ul:hover li:hover,
.image-accordion ul li:focus,
.image-accordion ul:focus-within li:focus {
  width: 60%;
}

.image-accordion ul li:focus {
  outline: none;
}

.image-accordion ul li div {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-accordion ul li div a {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px 20px 30px;
  z-index: 3;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.image-accordion ul li div a * {
  opacity: 0;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translateX(-20px);
  transition: all 400ms ease;
}

.image-accordion ul li div a h2 {
  font-size: 20px;
  letter-spacing: 1px;
  text-overflow: clip;
  margin-bottom: 10px;
}

.image-accordion ul li div a p {
  font-size: 15px;
  white-space: nowrap;
  line-height: 1.2;
}

.image-accordion ul:hover li:hover a,
.image-accordion ul li:focus a,
.image-accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, 0.4);
}

.image-accordion ul:hover li:hover a *,
.image-accordion ul li:focus a *,
.image-accordion ul:focus-within li:focus a * {
  opacity: 1;
  transform: translate(0px);
}

/* fin prueba *//*# sourceMappingURL=main.css.map */