*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors */
$background: black;
$primary: rgb(209, 101, 155);
$secondary: rgb(134, 65, 99);
$font-color: #fff;


/* size */
$titles: 50px;
$subtitles: 20px;
$paragraph: 15px;

$font: 'Montserrat', sans-serif;